.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #32345c;
}

h1 {
  font-size: 36px;
  color: white;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

/* Styling for the generate button */
button {
  background-color: #61dafb;
  border: 2px solid #21a1f1;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

/* Hover effect for button */
button:hover {
  background-color: #21a1f1;
  color: white;
}

/* Styling for the generated animal text */
h2 {
  font-size: 24px;
  color: white;
  margin-top: 30px;
}

/* Add spacing between UI elements */
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* Add some spacing between the button and text */
}